.container{"ng-app" => ""}
  %h1 ValPal

  .form-group
    %label
      Busker email
    %input.form-control{"type" => "text", "ng-model" => "pal_email", "placeholder" => "email@example.org"}

  .row
    .col-xs-6
      = render partial: "pay_form", locals: { value_text: 'smile', amount: '2.00' }
    .col-xs-6
      = render partial: "pay_form", locals: { value_text: 'laugh', amount: '5.00' }
  .row
    .col-xs-6
      = render partial: "pay_form", locals: { value_text: 'thought', amount: '10.00' }
    .col-xs-6
      = render partial: "pay_form", locals: { value_text: 'stock tip', amount: '25.00' }
