.navbar-wrapper
  .container
    %nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Val Pal
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Home
            -#%li
            -#  %a{:href => "#about"} About
            -#%li
            -#  %a{:href => "#contact"} Contact
            -#%li.dropdown
            -#  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            -#    Dropdown
            -#    %span.caret
            -#  %ul.dropdown-menu{:role => "menu"}
            -#    %li
            -#      %a{:href => "#"} Action
            -#    %li
            -#      %a{:href => "#"} Another action
            -#    %li
            -#      %a{:href => "#"} Something else here
            %li.divider
            - unless pal_signed_in?
              %li
                %a{:href => "/pals/sign_in"} Sign in
            - if pal_signed_in?
              %li
                = link_to "Sign out (#{current_pal.name})", destroy_pal_session_path, :method => :delete
            -#    %li.dropdown-header Nav header
            -#    %li
            -#      %a{:href => "#"} Separated link
            -#    %li
            -#      %a{:href => "#"} One more separated link
/
  Carousel
  \==================================================
#myCarousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    -#%li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    -#%li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    -#%li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner{:role => "listbox"}
    .item.active
      %img{:alt => "First slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
      .container
        .carousel-caption
          %h1 Val Pal . Rocks

          %p
            Buskers and street performs are struggling as our society goes cashless. Val Pal aims to return Value to buskers who provide you Value.
          %p
            - unless pal_signed_in?
              %a.btn.btn-lg.btn-primary{:href => "/pals/sign_up", :role => "button"} Sign up today
            - if pal_signed_in?
              %a.btn.btn-lg.btn-primary{:href => "/#{current_pal.name}", :role => "button"} Your account
            %a.btn.btn-lg.btn-primary{:href => "/amber", :role => "button"} Donate a street performer

    -#.item
    -#  %img{:alt => "Second slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
    -#  .container
    -#    .carousel-caption
    -#      %h1 Another example headline.
    -#      %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    -#      %p
    -#        %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} Learn more
    -#.item
    -#  %img{:alt => "Third slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
    -#  .container
    -#    .carousel-caption
    -#      %h1 One more for good measure.
    -#      %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    -#      %p
    -#        %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} Browse gallery
  -#%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
  -#  %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
  -#  %span.sr-only Previous
  -#%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
  -#  %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
  -#  %span.sr-only Next
/ /.carousel
/
  Marketing messaging and featurettes
  \==================================================
/ Wrap the rest of the page in another container to center all the content.
.container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      %h2 How it works
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "225", :src => "https://www.youtube.com/embed/zcQLsq5Vx68?rel=0", :width => "400"}
      %p It's simple. Don't have any cash on you? Street performer made you smile? Give value for value.
      %p
        %a.btn.btn-default{:href => "/dawnroh", :role => "button"} See Dawnroh »
    / /.col-lg-4
    .col-lg-4
      %h2 Are street performer?
      %p Create account and start receiving payments via paypal.
      %p
        - unless pal_signed_in?
          %a.btn.btn-default{:href => "/pals/sign_up", :role => "button"} Sign up »
        - if pal_signed_in?
          %a.btn.btn-default{:href => "/#{current_pal.name}", :role => "button"} Your account
    / /.col-lg-4
    .col-lg-4
      %h2 Enjoyed show?
      %p Find a pal that gave you value and give something back.
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} Find pal »
  / /.col-lg-4
  / /.row
  / START THE FEATURETTES
  .row.featurette
    .col-md-12
      %h2.featurette-heading
        %a.a-unstyled{name: "explore"}
          Explore pals
      %p
        #map-canvas

  -#.row.featurette
  -#  .col-md-5
  -#    %img.featurette-image.img-responsive{:alt => "Generic placeholder image", "data-src" => "holder.js/500x500/auto"}/
  -#  .col-md-7
  -#    %h2.featurette-heading
  -#      Oh yeah, it's that good.
  -#      %span.text-muted See for yourself.
  -#    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  -#%hr.featurette-divider/
  -#.row.featurette
  -#  .col-md-7
  -#    %h2.featurette-heading
  -#      And lastly, this one.
  -#      %span.text-muted Checkmate.
  -#    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  -#  .col-md-5
  -#    %img.featurette-image.img-responsive{:alt => "Generic placeholder image", "data-src" => "holder.js/500x500/auto"}/
  -#%hr.featurette-divider/
  / /END THE FEATURETTES
  / FOOTER
  %footer
    %p
      \© 2015 Val Pal
      %a{:href => "https://twitter.com/valpaldotrocks"} Twitter
      \·
      %a{:href => "https://www.facebook.com/valpaldotrocks"} Facebook


- content_for :javascript do
  :javascript

    $(function(){
       function initialize() {
        var mapOptions = {
          center: { lat: -37.8148912, lng: 144.966761},
          zoom: 17,
          styles: [
        {
          "featureType": "poi",
          "elementType": "labels",
          "stylers": [
            { "visibility": "off" }
          ]
        }
      ]

        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);


        var myLatlng = new google.maps.LatLng(-37.8141234,144.9638599);

        var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">Amber</h1>'+
        '<div id="bodyContent">'+
        '<p><a href="/amber">'+
        'View profile</a> '+
        '</div>'+
        '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });



        var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title:"Hello World!"
          });


        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });

      }
       google.maps.event.addDomListener(window, 'load', initialize);
    });
