%h1 ValPal

= render partial: "pay_form", locals: { value_text: 'smile' } 
= render partial: "pay_form", locals: { value_text: 'laugh' }  
= render partial: "pay_form", locals: { value_text: 'thought' }  
= render partial: "pay_form", locals: { value_text: 'stock tip' }  

