/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.btn-value {
  height: 200px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.btn-text {
  font-size: 40px;
  color: #fff;
}

.poster-text {
  font-size: 60px;
}

.blurb-text {
  font-size: 20px;
}

.url-text {
  font-weight: 600;
}

.highlight {
  padding: 9px 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  .url {
    float: left;
    margin-right: 14px;
  }
  .empty-box {
    float: left;
    background-color: #fff;
    width: 550px;
    padding: 9px 14px;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
  }
}

.header {
  @include clearfix;
  margin-bottom: 15px;
}
.pal-image {
  float: left;
  margin: 5px;
}

.name {
  float: left;
  padding: 0 0 0 45px;
}

#map-canvas {
  width: 100%;
  height: 600px;
}

.a-unstyled { color: #333; }
.a-unstyled:link { color: #333; }
.a-unstyled:visited { color: #333; }
.a-unstyled:hover { color: #000; }
.a-unstyled:active { color: #333; }

/* Large desktop */
@media (min-width: 1200px) { }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { }

/* Landscape phones and down */
@media (max-width: 480px) { }
