Map test
#map-canvas



- content_for :javascript do
  :javascript

    $(function(){
       function initialize() {
        var mapOptions = {
          center: { lat: -37.8142085, lng: 144.9685895},
          zoom: 15
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
       google.maps.event.addDomListener(window, 'load', initialize);
    });